@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom */
@layer utilities {
  /* body scroll */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  .scroll {
    overflow: auto;
    height: 100vh;
  }
}

/* Swiper */
.swiper {
  @apply w-full h-[295px] md:h-[340px] pl-10 md:pl-0 md:pt-10;
}

.swiper-slide {
  @apply min-w-[390px];
}

.swiper-pagination-bullet {
  @apply bg-light-background/90;
}

.swiper-pagination-bullet-active {
     @apply bg-accent-default;
} 
