@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--accentD: 240 3.7% 15.9%;
		--accent-foreground: ;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;

		--ring: 240 3.7% 15.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}

	html {
		@apply scroll-smooth;
	}
}

/* Swiper */
.swiper {
	@apply w-auto h-auto pb-6 md:pb-16 pt-6 md:pt-16 relative !important;
}

.swiper-pagination {
	@apply top-4 md:top-16 relative !important;
}

.swiper .swiper-pagination-bullet {
	@apply w-2 h-2 bg-accent-primary !important;
}

.swiper-button-prev,
.swiper-button-next {
	@apply text-accent-primary -mt-16 !important;
}
